.home__page {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 20px;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.home__page .post {
  height: auto;
  margin: 10px;
  width: 400px;
  padding: 20px;
  max-height: 400px;
  border-radius: 5px;
  position: relative;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

.post h1 {
  width: 350px;
  line-height: 1.2;
  font-size: calc(20 / 16 * 1rem);
}

.post .line {
  height: 1px;
  width: 100%;
  margin: 8px 0 12px 0;
  background-color: var(--light-grey);
}

.post .post__text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  max-height: 300px;
  overflow-y: scroll;
  color: var(--grey);
  padding-bottom: 20px;
}

.post .post__author {
  font-weight: bold;
  font-size: 0.9rem;
  font-style: italic;
}

.post .header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.post .delete__post {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  font-size: calc(26 / 16 * 1rem);
}

.post .delete__post:hover {
  color: #292929e8;
}
