nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

nav a,
.logout__button {
  margin: 0 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.logout__button {
  border: none;
  background-color: transparent;
}
